body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sc-blHHSb .footer__ScrollableContent-sc-17v2um1-2 .kdhSMj .hLOaFd{
  display: none !important;
}
.sc-blHHSb .footer__ScrollableContent-sc-17v2um1-2 .kdhSMj .hLOaFd a{
  display: none !important;
}